body{
    background-color: #ccc;
}
.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 500ms;
}
.selection:hover {
    transform: scale(1.5);
}

.score {
    margin-top: 1rem;
    font-size: 3em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    font-size: 1rem;
    margin-left: .1rem;
    color: #333;
}

.score-selection {
    opacity: .5;
}
.score-selection.winner{
    opacity: 1.0;
    
}

